<div class="container">
  <div class="button-actions-row">
    <%= link_to "Back to League", @season.league, class: "btn btn-outline-primary btn-sm" %>
    <% if policy(@season).destroy? %>
      <%= button_to "Delete Season", @season, method: :delete, class: "btn btn-outline-danger btn-sm" %>
    <% end %>
  </div>
  <h4><%= @season.name %></h4>
  <div class="row">
    <div class="col-md-6">
      <h5>Season Overview</h5>
      <ul>
        <li>Start Date: <%= @season.formatted_start_date %></li>
        <li>End Date: <%= @season.formatted_end_date %></li>
        <li>Days: <%= season_days(@season) %></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>Top 3</h5>
      <div class="table-responsive">
        <table class="table table-sm">
          <tr>
            <th>Place</th>
            <th>Person</th>
            <th>Points</th>
          </tr>
          <% @season.standings(3).decorate.each_with_index do |standing, index| %>
            <tr class="<%= standing.is_current_user?(current_user) %>">
              <td><%= index + 1 %></td>
              <td><%= standing.identifier %></td>
              <td><%= standing.pick_count %></td>
            </tr>
          <% end %>
          <% unless @season.standings(3).include?(current_user) %>
            <tr class="bg-dark text-white">
              <% user_standing = @season.position_for_current_user(current_user) %>
              <td><%= user_standing[:place] %></td>
              <td><%= user_standing[:object]&.identifier %></td>
              <td><%= user_standing[:object]&.pick_count %></td>
          <% end %>
          <tr>
            <td colspan="3">
              <%= link_to "View full standings", standings_season_path(@season) %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <h5>Next 7 Days</h5>
      <div class="table-responsive">
        <table class="table table-sm table-striped">
          <tr>
            <th>Date</th>
            <th>Pick</th>
            <th class="text-center">Most Picked</th>
          </tr>
          <% @current_week.each do |date| %>
            <% formatted_date = formatted_date(date) %>
            <% pick = @all_picks.by_date(date, current_user) %>
            <% week = GameWeek.by_date(@season, date) %>
            <tr>
              <td>
                <a name="<%= formatted_date.parameterize.underscore %>"><%= formatted_date %></a>
              </td>

              <td>
                <% if pick %>
                  <div class="<%= pick.winner_css %> existing_pick nowrap">
                    <span><%= pick.team.decorate.full_name %></span>
                    <% unless week.locked? %>
                      <%= button_to pick, method: :delete, class: "btn btn-outline-danger", form_class: "delete_pick" do %>
                        <%= fa_icon "times fw" %>
                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  <% if week.locked? %>
                    Cutoff has passed. No pick.
                  <% else %>
                    <%= form_for Pick.new, html: { class: 'new-pick'  } do |f| %>
                      <%= f.hidden_field :game_week_id, value: week.id %>
                      <%= f.hidden_field :date, value: date %>
                      <div class="form-group select-new-pick">
                        <%= f.collection_select(:team_id, Team.all.decorate, :id, :full_name, {include_blank: true}, {class: "form-control"}) %>
                        <%= button_tag class: "btn btn-outline-primary" do %>
                          <%= fa_icon "check fw" %>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </td>

              <td class="text-center">
                <% if week.locked? %>
                  <%= Team.most_by_season_and_date(@season, date) %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr colspan="3">
            <td><%= link_to "View all picks", picks_path(season_id: @season) %></td>
          </tr>
        </table>
      </div>
    </div>

  </div>

</div>
