<div class="container">
  <div class="button-actions-row">
    <% if policy(@league).destroy? %>
      <%= button_to "Delete League", @league, method: :delete, class: "button", form_class: "delete-league" %>
    <% end %>
    <%= link_to "New Season", new_season_path(league_id: @league.id), class: "button button-primary" %>
  </div>
  <h4>League Name: <%= @league.name %></h4>
  <h4>Seasons</h4>
  <table class="u-full-width">
    <tr>
      <th>Season Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Days in Season</th>
    </tr>
  <% @league.seasons.each do |season| %>
    <tr>
      <td><%= link_to season.name, season %></td>
      <td><%= formatted_date(season.start_date) %></td>
      <td><%= formatted_date(season.end_date) %></td>
      <td><%= season_days(season) %></td>
    </tr>
  <% end %>
  </table>
</div>

